body {
    background: url("../images/background0.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #16edfe;
}

div#title {
    position: fixed;
    top: 26%;
    text-align: center;
    font-size: 60px;
    font-family: AA;
    width: 100%;
    background-color: #D9AFD9;
    background-image: linear-gradient(45deg, #D9AFD9 0%, #97D9E1 100%);
    transform: translate(-50%, -50%);
    background-size: cover;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



